
//color variables
$bg-col-0: #7b1346;
$bg-col-1: #871336;
$bg-col-2: #8c1a3b;
$bg-col-3: #921e32;
$bg-col-6: #720d49;
$bg-col-7: #810a36;
$bg-col-8: #791043;
$bg-col-9: #750e46;


.landing-wrapper {
    background: linear-gradient(-45deg, $bg-col-0, $bg-col-1, $bg-col-2, 
                                        $bg-col-3, $bg-col-6, $bg-col-7, 
                                        $bg-col-8, $bg-col-9);
    background-size: 400% 400%;
    -webkit-animation: Gradient 35s  ease infinite;
	-moz-animation: Gradient 35s  ease infinite;
	animation: Gradient 35s ease infinite;
	padding: 0;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}